.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.board{
  margin:10px;
}
.box{
  width:25px;
  height: 25px;
}
.red{
  width:25px;
  height: 25px;
  background-color: red;
}
.black{
  width:25px;
  height: 25px;
  background-color: black;
}
.row{
  margin: 0px;
  padding:0px;
  display: flex;
  flex-direction: row;
}